{% extends 'base.html' %}
 
{% block content %}
 
<div class="container">
 
    <div class="row justify-content-center">
 
        <div class="col-md-8">
 
            <div class="card shadow p-5 text-center">
 
                <h1 class="mb-4 text-success">
                    Request Submitted Successfully
                </h1>
 
                <p class="mb-4">
 
                    Your service request has been received.
 
                    Please contact on WhatsApp to complete
                    payment and verification process.
 
                </p>
 
                <a href="https://wa.me/919592682383?text=Hello%20I%20have%20submitted%20a%20service%20request"
                   target="_blank"
                   class="btn btn-success btn-lg">
 
                    Chat on WhatsApp
 
                </a>
 
            </div>
 
        </div>
 
    </div>
 
</div>
 
{% endblock %}